@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  font-family: "Jost", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1440px;
  box-sizing: border-box;
}
