.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f2f5;
}
.formContainer {
  width: 100%;
  padding: 32px;
  max-width: 400px;
  background: white;
  border-radius: 8px;
  box-shadow: var(--lite-shadow);
}
.title {
  text-align: center;
  color: var(--font-blue-color);
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  padding: 10px;
  border: 1px solid #d1d9e6;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f0f4f8;
}
.input:focus {
  outline: none;
  border-color: #a3bffa;
}

.button {
  cursor: pointer;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: var(--primary-color);
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: var(--primary-hover-color);
}
